/* font size */
p {
	font-family: $body-font;
	font-size: $body-size;

}

h1{
    font-family: $h1-font;
    font-weight: $h1-weight;
}

h4{
    font-family: $h4-font;
    font-weight: $h4-weight;
}

/* header */
.header{
    padding-top: $header-top;
}

.move-up{
    margin-top: $move-up;
}

/*about*/
.about-section{
    padding-top: $header-top;
    padding-bottom: $header-bottom;
}


.hobbie-section{
    padding-top: $header-top;
    padding-bottom: $header-bottom;
}

/* portfolio */
.portfolio{
    padding-top: $portfolio-padding;
    padding-bottom: $portfolio-padding;
    padding-top: $header-top;
    padding-bottom: $header-bottom;
}


/*testimonial */
#testimonialCarousel{

    margin: $testimonial-margin;
}

.carousel-item blockquote{
    padding-right: $testimonial-padding;
    padding-left: $testimonial-padding;

}

.carousel{
    background-color: $testimonial-bg;
}

.carousel .item {
     background-color: $testimonial-bg;
}

.carousel-control.right, .carousel-control.left{
    color: $testimonial-icon;
    background-image: $testimonial-image;
    background-color: $testimonial-bg;
}


/* contact page */
.contact-icons{
    padding-top: $padding-contact;
    padding-bottom: $padding-contact;
}

/* footer */
.my-footer{
    padding-top: $footer-padding;
    padding-bottom: $footer-padding;
}

.copyright{
    padding-top: $copyright-padding;
}