/* navbar */
$navbar-left:2em!important;
$navbar-top:1em!important;
$logo-right:5em!important;
$social-left:4em!important;
$social-right:flex!important;


/*header*/
$header-top:50px;
$header-bottom: 25px;
$move-up: -100px;

/* content fonts */
$body-font:'Raleway', sans-serif;
$body-size: 16px;
$h1-font:'Libre Franklin', sans-serif;
$h1-weight: 900;
$h4-font: 'Libre Franklin', sans-serif;
$h4-weight: 100;


/* responsive breakpoints */
$breakpoint-mobile: 543px;
$breakpoint-tablet: 767px;
$breakpoint-desktop: 1199px;
$breakpoint-header: 991px;

/* responsive elements */
$social-mobile:0em!important;
$social-tablet:1em!important;
$social-desktop:2em!important;
$logo-tablet:0em!important;
$logo-mobile:none!important;
$card-tablet: 1em!important;
$card-mobile: 1.5em!important;
$image-mobile: 100%!important;

$h1-991: 30px;
$h1-767: 20px;
$h1-543: 16px;
$h1-right:right;
$h1-left:left;
$h1-margin: -25px;
$header-img-top: 100px;
$subhead-smaller: 14px;
$subhead-mobile:none;
$text-mobile: 14px;

/* contact page */
$padding-contact:10px;

/* portfolio */
$portfolio-padding: 50px!important;

/*testimonials */
$testimonial-width: 820px;
$testimonial-margin: 0 auto;
$testimonial-bg: #ffffff;
$testimonial-icon: #000000;
$testimonial-image: none !important;
$testimonial-padding: 160px;

/* footer */
$horizontal_list: inline;
$footer-padding: 100px;
$copyright-padding: 25px;




