{% load staticfiles %}
{% load seo %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile-first style-adjust for phones-->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>
   
    <!--fav-ico-->
    <link rel="icon" type="image/png" href="{% static 'mythings/michelle/img/favicon_new.png' %}">
    
    <!-- CSS -->
    <link href="{% static 'mythings/michelle/css/style.css' %}" rel="stylesheet">

  </head>
</html>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-button navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      </button>
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="{% static 'mythings/michelle/img/nav_logomh.png' %}">
      </a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'mythings.views.home_page' %}">Home</a></li>
        <li><a href="{% url 'mythings.views.home_page' %}#about">About</a></li>
        <li><a href="{% url 'mythings.views.home_page' %}#portfolio">Portfolio</a></li> 
	<li><a href="{% url 'mythings.views.home_page' %}#contact">Contact</a></li>  
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
{% block content %}
{% endblock %}
</div>

</body>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <script src="{% static 'mythings/michelle/js/contact.js' %}"></script>


</html>
