/* Global */

body, html {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.navbar{
  margin-bottom:0;
}

.blue-bg {
    background-color: #32c5d2;
}

/* Header Block */

#heading-div {
    background: url('../img/header_pic.jpg') 0 0 no-repeat;;
    height: 590px;
    width: auto;  
    background-size: cover;
    color: #fff;
    opacity: 1;
}

#heading-title {
  font-weight: 600;
  color: #FFFFFF;
  margin-top: 285px;
  margin-left: 65px;
  font-size: 52px;
}

#heading-sub {
  font-weight: 300;
  color: #ffffff;
  margin-left: 65px;
  font-size: 32px;
}

/* Quote Block */

.quote-div{
}

.quote-text{
    height:100%;
    margin-top:200px;
    margin-bottom: 200px;
    font-size: 36px;
    color: #a0a0a0;
    font-style:italic;
    font-family:Georgia;
    text-align:center;
}

/* About Block */
.about-content{
  margin-top:160px;
  margin-bottom: 160px;
  
}

.about-row{
  padding-top:160px;
  padding-bottom:160px;
}

.blue-bg {
    background-color: #32c5d2;
}

.about-title{
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: 600;
  text-transform: uppercase;
  text-align:center;
  color: #333333;
}

.about-text{
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 200%;
  margin-left: 20px;
  margin-right: 20px;
}
.about-pic{
  margin-right: auto;
  margin-left: auto;
  width: 75%;
  /*width: 450px;*/
  height: auto;
}

#passion-link{
  text-decoration: none;
  border-bottom:1px dashed #333333;
  color:#ffffff;
  font-weight: bold;
  padding: 2px;
}

/* Services Block */

.services-title {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  font-size: 38px;
  margin-top: 140px;
  margin-bottom: 140px;
}

.services-sub {
  font-weight: 600;
  text-align: center;
  font-size: 26px;
  display: block;
  text-decoration: underline;
  padding-top: 120px;
  color: #333333;
}

.sub-services, a:link {
    color: #333333;
    background-color: transparent;
}

.sub-services, a:hover {
    color: #32c5d2;
    background-color: transparent;
}   

/*.social-shape{
  color: #32c5d2;
  margin-top: 130px;
  margin-bottom: 140px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


#fb {
  transform: translate(110px, 65px);
}

#tw {
  transform: translate(15px, 45px);
}

#pt {
  transform: translate(-20px, -15px);
}

#ig {
  transform: translate(5px, -30px);
}

#lk {
  transform: translate(35px, -15px);
}

#yt {
  transform:translate(-10px, 45px);
}*/

.services-img {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 50%;
  text-align: center;
}

.services-text-small {
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  line-height: 200%;
}

.services-text {
  font-weight: 400;
  font-size: 24px;
  color: #333333;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  /*margin-bottom: 30px;*/
}

.services-content {
  margin-bottom: 200px;
}

/* Contact Block */

.contact-div {
  height: 350px;
}

.contact-text {
  margin: auto;
  margin-top: 40px;
  color: white;
  font-size: 17px;
  text-align: center;
  
}

.contact-form{
   text-align: center;
   margin: auto;
   margin-top: 40px;
}

.thanks-div {
  padding-top: 120px;
  text-align: center;
  font-size: 18px;
  color: #333333;
  font-weight: 300px;
}

.contact-icons{
   text-align: center;
   margin: auto;
   margin-top: 40px;
   margin-bottom: 40px;
}

.contact-icons a{
  color: #ffffff;
  margin: 20px;
  font-size: 28px;
}

#message{
  height:200px;
  border: solid 1px;
  color: #333333;
}

.submit-button {
  text-decoration: none;
  border: solid 1px;
  color: #333333;
  background-color: white;
  text-align: left;
}

ul { 
  list-style-type: none;
}
  

/* Social Media Icons */

.social-ul {
    list-style-type: none;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 120px;    
}

/* Portfolio Block */

.tag-background {
  margin-top: 50px;
}

.post-heading {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  color: #232323;
  font-size: 32px;
  text-transform: uppercase;
}

.post-title {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  color: #333333;
  font-size: 32px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 20px;
}

.post-description {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  color: #474747;
  text-align: center;
  font-size: 18px;
  line-height: 200%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 20px;
  width: 80%;
}

.image-date {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
  margin-right: auto;
  margin-left: 350px;
  font-size: 10px;
  color: #5b5b5b
}

.post-img {
  width: 50%;
  height: 25%;
  margin-right: auto;
  margin-left: auto;
}

.img-big {
  width: auto;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.tag-border {
  margin-top: 100px;
  margin-bottom: 100px;
}

.post-divider {
  border-bottom: 5px solid #32c5d2;  
}
/* Add Post Form */

.login {
  margin-top: 100px;
  margin-bottom: 100px;
}

.add-post-form {
  padding: 20px;
  border: 1px solid black;
  font-size: 16px;
  font-weight: 400;
  margin: auto;
}

/*.add-post-input {
  width:375px;
  display: block;
  height: 25px;
}*/
