{% extends 'mythings/mysite/base.html' %}
{% load staticfiles %}
{% block content %}

    <!-- about section -->
       <!--about me section -->
  <div id="about-photos" class="row">
      <div class="col-xs-6 about-section">
          <div class="about-header">About Me</div>
          <h4 class="h1-shrink about-padding">I am Front-End Developer and Digital Marketing Specialist.</h4>
          <p class="text-mobile">I love crafting mobile first user interfaces.
            I am intimately aware of human centric design, cross browser compatibility issues, responsive design,
            and how to match javascript frameworks to client needs. 
	  
	   I love articulating and implementing client's vision, mission, value proposition, brand architecture, and positioning. 
	   I am intimately aware of SEO best practices, social media management, email campaigns, and how to increase customer leads and conversions. 
	   </p>
          <!--<p class="text-mobile">When I am not working I can be found outside trail running, biking, skiing, and ice skating.</p>-->
          <!--<img class="img-fluid m-x-auto dblock hobbie-section" src="assets/img/hobbies.png">-->

      </div>
      <div class="col-xs-6">
          <img class="img-fluid mx-auto d-block about-section" src="{% static 'mythings/mysite/img/jump.png' %}">
      </div>
  </div><!--end row -->

   <div id="hobbies" class="row card">
        <div class="col-xs-3 text-xs-center">
              <img class="mx-auto d-block card-img-top" src="{% static 'mythings/mysite/img/working.jpg' %}" alt="working">
        </div>
        <div class="col-xs-3">
              <img class="card-img-top mx-auto d-block" src="{% static 'mythings/mysite/img/run.jpg' %}" alt="running">
        </div>
        <div class="col-xs-3">
              <img class="card-img-top mx-auto d-block" src="{% static 'mythings/mysite/img/biking.jpg' %}" alt="biking">
        </div>
        <div class="col-xs-3">
              <img class="card-img-top mx-auto d-block" src="{% static 'mythings/mysite/img/skiing.jpg' %}" alt="skiing">
        </div>
    </div> <!--end row-->

 <!--hobbies

  <div class="row">
     <div class="col-sm-12 hobbie-section">
          <h4 class="h1-shrink about-padding">Outdoor Enthusiast</h4>
          <p class="text-mobile">When I am not working I can be found outside trail running, biking, skiing, and ice skating.</p>
     </div>
  </div>-->	

{% endblock %}
