{% extends 'mythings/mysite/base.html' %}
{% load staticfiles %}
{% block content %}

<!--Contact section -->
    <div class="row header">
        <div id="contact-padding" class="col-xs-6">
            <div class="contact-header">Contact Me</div>
            <ul class="list-unstyled">
                <li class="contact-icons"><a class="red-fa" target="_blank" href="https://www.facebook.com/michelleahiland"><i class="fa fa-facebook-square fa-3x red-fa" aria-hidden="true"></i> Find me on Facebook</a></li>
                <li class="contact-icons"><a class="red-fa" target="_blank" href="https://www.linkedin.com/in/michelle-a-hiland-21bbba41"><i class="fa fa-linkedin-square fa-3x red-fa" aria-hidden="true"></i> Connect on LinkedIn</a></li>
                <li class="contact-icons"><a class="red-fa" target="_blank" href="http://michellehiland.com/tag/passion/"><i class="fa fa-rss-square fa-3x red-fa" aria-hidden="true"></i> Check out my blog</a></li>
            </ul>
        </div>
         <div id="contact-padding" class="col-xs-6">
            <img id="contact-image" class="img-fluid mx-auto d-block" src="{% static 'mythings/mysite/img/protrait.png' %}">
         </div>
    </div>


     <div class="row">
         <div class="col-xs-12">
            <form id="contact-post" enctype="multipart/form-data" action="/contact_lead/" method="post"> {% csrf_token %}
                <div id="contact">
                <!--<div id="the_name" class="form-group">
                    <label for="name">Your Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Name">
                </div>

             <div id="the_email" class="form-group">
                <label for="email">Your Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>-->

                <div id="the_contact" class="form-group">
                    <label class="contact-message" for="message">Send me a message with your contact information!</label>
                    <textarea type=text" class="form-control contact-border" id="message" rows="6"></textarea>
                </div>
                <div id="results"></div> <!-- errors go here-->
                <button id="submit-hide" type="submit" class="btn btn-danger">Send</button>
                </div>
              </form>


             <div class="text-xs-center thanks" id="thanks">
                 {% for contact in all_contacts %}
                    <strong>{{ contact.results }}</strong>
                        <em>{{ contact.created_date }}</em>
                 {% endfor %}
             </div>

         </div>
     </div>

    {% endblock %}