{% extends 'mythings/mysite/base.html' %}
{% load staticfiles %}
{% block content %}

    <!-- header section -->
    <div class="row header">
      <div class="col-sm-3">
        <h1 class="h1-shrink h1-left">Front End Developer</h1>
        <p class="subhead-shrink">Passion for crafting
        engaging and functional
        user experiences
        </p>
        <!--<img class="img-fluid pull-xs-left" src="assets/img/design.png">-->
      </div>
      <div class="col-sm-6">
        <!--<img class="img-fluid m-x-auto d-block" src="assets/img/protrait.png">-->
      </div>
      <div class="col-sm-3">
        <h1 class="h1-shrink h1-right">Digitial Marketing Specialist</h1>
        <p class="subhead-shrink">Focus on SEO optimization and quality ads
	tailored to the clients' goals and brand.
        </p>
       <!-- <img class="img-fluid pull-xs-right" src="assets/img/developer.png">-->
      </div>
  </div> <!-- end row -->

   <div class="row">
       <div class="col-xs-2">

       </div>
       <div class="col-xs-8 move-up">
           <img class="img-fluid m-x-auto d-block image-header" src="{% static 'mythings/mysite/img/header.png' %}">
       </div>
       <div class="col-x2-2">

       </div>
   </div>

<!--latest work section-->

    <div class="row">
      <div class="col-sm-12">
        <h4 class="text-xs-center portfolio">SOME OF MY LATEST WORK</h4>
      </div>
    </div>  <!-- end row -->

    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/tt.jpg' %}" alt="Card image cap">
          <div class="card-block">
              <a id="portfolio-link" href="http://www.thingstheory.com/" target="_blank"><h4 class="card-title card-responsive">Things Theory</h4></a>
            <p class="card-text">Website Design</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/sponge.png' %}" alt="Card image cap">
          <div class="card-block">
              <a id="portfolio-link" href="http://spongetechnology.com/" target="blank"> <h4 class="card-title card-responsive">Sponge Technology</h4></a>
            <p class="card-text">Website Development </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/thrive.jpg' %}" alt="Card image cap">
          <div class="card-block">
              <a id="portfolio-link" href="http://www.thrivetribe.com/" target="blank"><h4 class="card-title card-responsive">Thrive Tribre</h4></a>
            <p class="card-text">Website Development </p>
          </div>
        </div>
      </div>

    </div> <!--end of row -->

    <!--skills-->
   <div class="row">
            <div class="col-sm-12 about-section">
                <!--<div class="about-header">Areas of Proficiency</div>-->
		<h4 class="text-xs-center portfolio">AREAS OF PROFICIENCY</h4>
            </div>
        </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="card card-outline-secondary text-xs-center">
              <div class="card-block">
                <blockquote class="card-blockquote">
                        <h4>Skills</h4>
                    <progress class="progress progress-striped progress-success" value="90" max="100"></progress>
                    <p>HTML5, CSS3, SASS/Less, Bootstrap, JavaScript, jQuery, AngularJS, React.</p>
                        <h4>Patterns and Techniques</h4>
                    <progress class="progress progress-striped progress-info" value="75" max="100"></progress>
                    <p>Object Orientd Programming, MVC, Ajax, Django/python, Performance Optimization Techniques</p>
                </blockquote>
              </div>
            </div>
        </div>
         <div class="col-xs-6">
            <div class="card card-outline-secondary text-xs-center">
              <div class="card-block">
                <blockquote class="card-blockquote">
                        <h4>Tools</h4>
                    <progress class="progress progress-striped progress-warning" value="75" max="100"></progress>
                    <p>Adobe Illustrator, Adobe InDesign, Adobe Photoshop, Google Analytics/Adwords/SearchConsole</p>
                        <h4>Expertise</h4>
                    <progress class="progress progress-striped progress-danger" value="95" max="100"></progress>
                    <p>MySQL, postgreSQL, AWS, Git, Github, SEO on-page optimization, SEO link building</p>
                </blockquote>
              </div>
            </div>
        </div>
    </div> <!-- end row -->

 {% endblock %}

