{% extends 'mythings/mysite/base.html' %}
{% load staticfiles %}
{% block content %}

     <!-- portfolio
      <div class="row">
          <div class="col-xs-12">
            <div id="portfolio-header" class="text-xs-center">Portfolio<div>
          </div>
      </div>-->

     <!-- first row -->
     <div id="portfolio1" class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/tt.jpg' %}" alt="Card image cap">
          <div class="card-block">
              <a id="portfolio-link" href="http://www.thingstheory.com/" target="_blank"> <h4 class="card-title card-responsive">Things Theory</h4></a>
	     <p class="card-text">
                <a class="card-text" data-toggle="collapse" href="#collapsett" aria-expanded="false" aria-controls="collapseExample">
                Website Design & Development
                </a>
            </p>
            <div class="collapse" id="collapsett">
                <div class="card card-block">
                    Designed mock-ups for landing page and individual pages using Adobe Illustrator. Developed landing page using Django, Bootstrap, and mySQL.
                 </div>
                 <img id="img-zoom" class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/tt_single.jpg' %}" alt="Card image cap">
            </div> 
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/strangebyrds.jpg' %}" alt="">
          <div class="card-block">
              <a id="portfolio-link" href="http://strangebyrds.com/"target="_blank"> <h4 class="card-title card-responsive">Strangebyrds</h4></a>
	      <p class="card-text">
                <a class="card-text" data-toggle="collapse" href="#collapseStrangebyrds" aria-expanded="false" aria-controls="collapseExample">
                Website Design & Development
                </a>
            </p>
            <div class="collapse" id="collapseStrangebyrds">
                <div class="card card-block">
                    Designed mock-ups for mobile and home page using Adobe Illustrator. Developed website using WordPress Canvas theme and various plugins.
                 </div>
                 <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/strangebyrds_mobile_final.png' %}" alt="Card image cap">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/thrive.jpg' %}" alt="Card image cap">
          <div class="card-block">
              <a id="portfolio-link" href="http://www.thrivetribe.com/" target="blank"> <h4 class="card-title card-responsive">Thrive Tribe</h4></a>
	      <p class="card-text">
                <a class="card-text" data-toggle="collapse" href="#collapseThrive" aria-expanded="false" aria-controls="collapseExample">
                Website Design & Development
                </a>
            </p>
            <div class="collapse" id="collapseThrive">
                <div class="card card-block">
                    Used mock-ups to develop e-ecommerce website using Wordpress WooCommerce plugin, Instafeed plugin, and custom jQuery slider. Code below shows the custom slider.
                 </div>
                 <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/tt_code.png' %}" alt="Card image cap">
            </div>
          </div>
        </div>
      </div>
    </div> <!--end of row -->

     <!-- second row -->
     <div id="portfolio2" class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/gidea.png' %}" alt="Card image cap">
          <div class="card-block">
              <a id="portfolio-link" href="http://www.greatideations.com/" target="blank"> <h4 class="card-title card-responsive">Great Ideations</h4></a>
	      <p class="card-text">
                <a class="card-text" data-toggle="collapse" href="#collapseGI" aria-expanded="false" aria-controls="collapseExample">
                Website Design & Development
                </a>
            </p>
            <div class="collapse" id="collapseGI">
                <div class="card card-block">
                    Customized Bootstrap theme and developed website using Django, Gunicorn, and Ningx. Hosted on AWS.
                 </div>
            </div>	      
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/kdance.png' %}" alt="Card image cap">
          <div class="card-block">
              <a id="portfolio-link" href="http://kinesisdance.com/" target="blank"> <h4 class="card-title card-responsive">Kinesis Dance</h4></a>
               <p class="card-text">
                <a class="card-text" data-toggle="collapse" href="#collapsekdance" aria-expanded="false" aria-controls="collapseExample">
                Website Development & SEO
                </a>
            </p>
            <div class="collapse" id="collapsekdance">
                <div class="card card-block">
                   Created custom mysql database to dynamically change calendar and classes. Updated database monthly.
                    <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/kdance-data.png' %}" alt="Card image cap">
                 </div>
                 <div class="card card-block">
                     Implemented SEO best practices using SEO Yoast, tracked relevant keywords, and posted content on Google+ 3 times a week.
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/peakpro.png' %}" alt="Card image cap">
          <div class="card-block">
              <a id="portfolio-link" href="https://peakprofessionalpainting.com/" target="blank"> <h4 class="card-title card-responsive">Peak Pro Painting</h4></a>
	       <p class="card-text">
                <a class="card-text" data-toggle="collapse" href="#collapsepeakpro" aria-expanded="false" aria-controls="collapseExample">
                Social Media & SEO
                </a>
            </p>
            <div class="collapse" id="collapsepeakpro">
                <div class="card card-block">
                    Posted 3 times a week on Facebook, Instagram, Pinterest, and Google+. Implemented SEO best practices on each page, tracked relevant keywords, and wrote monthly
		    reports using metrics from Google Analytics.
                 </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!--end 2nd row -->

	<!--third row -->
         <div class="row">
            <div class="col-sm-4">
                 <div class="card card-block">
                    <blockquote class="card-blockquote">
                      <p>I love running because it teaches me perseverance and humility, this pours into my passion for web development.</p>
                      <!--<footer>
                        <small class="text-muted">
                           <cite title="Source Title">Front End Development</cite>
                        </small>
                      </footer>-->
                    </blockquote>
                </div>
            </div>

            <div id="portfolio-mobile" class="col-sm-4">
                <div class="card card-block card-inverse card-red text-xs-center">
                    <blockquote class="card-blockquote">
                   	<div id="portfolio-header" class="card-title text-xs-center">Portfolio</div>
                  	<footer>
                     	    <small>
                                <cite title="Source Title">Michelle Hiland</cite>
                            </small>
                        </footer>
                    </blockquote>
                </div>
            </div>

            <div class="col-sm-4">
                 <div class="card card-block text-xs-left">
                    <blockquote class="card-blockquote">
                      <p>I love working on challenging projects and seeing my work come to life.</p>
                      <!--<footer>
                        <small class="text-muted">
                           <cite title="Source Title">UI/UX Designer</cite>
                        </small>
                      </footer>-->
                    </blockquote>
                 </div>
            </div>

        </div> <!-- end third row -->	

         <!-- fourth row -->
     <div id="portfolio3" class="row">
       <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/cannabis.png' %}" alt="">
          <div class="card-block">
              <a id="portfolio-link" href="http://holisticcannabisnetwork.com/" target="blank"> <h4 class="card-title card-responsive">Holistic Cannabis Network</h4></a>
              <p class="card-text">
                <a class="card-text" data-toggle="collapse" href="#collapseHCN" aria-expanded="false" aria-controls="collapseExample">
                Website Development & Graphic Design
                </a>
            </p>
            <div class="collapse" id="collapseHCN">
                <div class="card card-block">
                    Developed In the News page on Wordpress website and created content for blog.
                 </div>
                <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/News.png' %}" alt="Card image cap">
                <div class="card card-block">
                    Created business cards and updated logo featured on business cards.
                 </div>
                <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/business_card_sample.jpg' %}" alt="Card image cap">
                <div class="card card-block">
                    Created rack cards for advertising upcoming events and pdf downloads for email subscriptions.
                 </div>
                <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/rack.jpeg' %}" alt="Card image cap">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/512.png' %}" alt="">
          <div class="card-block">
              <a id="portfolio-link" href="http://www.512solutions.com/" target="blank"> <h4 class="card-title card-responsive">5.12 Solutions</h4></a>
	      <p class="card-text">
                <a class="card-text" data-toggle="collapse" href="#collapse512" aria-expanded="false" aria-controls="collapseExample">
                Email Marketing Campaigns, Social Media, SEO
                </a>
            </p>
	    <div class="collapse" id="collapse512">
                <div class="card card-block">
                   Created bi-weekly emails to gain and retain customers using Constant Contact.
                    <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/email.png' %}" alt="Card image cap">
                 </div>
                 <div class="card card-block">
                    Created pop-up and link for email subscriptions. Implemented SEO best practices on Drupal website and tracked relevant keywords.
                     <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/pop-up2.png' %}" alt="Card image cap">
                </div>
                 <div class="card card-block">
                    Edited and posted weekly blogs. Posted 3 times a week on Facebook, LinkedIn and Google+.
                     <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/blog.png' %}" alt="Card image cap">
                 </div>
                 <div class="card card-block">
                    Using UX principles enhanced website for usability and clear flow of process. Added call to action buttons and links to questions.
                 </div>
                 <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/buy_button.png' %}" alt="Card image cap">
                 <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/leader.png' %}" alt="Card image cap">
            </div>	
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/sponge.png' %}" alt="Card image cap">
          <div class="card-block">
              <a id="portfolio-link" href="http://spongetechnology.com/" target="blank"> <h4 class="card-title card-responsive">Sponge Technology</h4></a>
	      <p class="card-text">
                <a class="card-text" data-toggle="collapse" href="#collapseSponge" aria-expanded="false" aria-controls="collapseExample">
                Website Development & Graphic Design
                </a>
            </p>
            <div class="collapse" id="collapseSponge">
                <div class="card card-block">
                    Edited website by adding photos, graphics, and enhancing the layout of each page.
                 </div>
                 <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/sponge_cust.png' %}" alt="Card image cap">
                 <div class="card card-block">
                    Using Adobe Photoshop cut out and edited photos for website use.
                 </div>
                 <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/loofah.jpg' %}" alt="Card image cap">
            </div>
          </div>
        </div>
      </div>
    </div> <!--end row -->

      <!-- fourth row -->
     <div id="portfolio3" class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/golden.png' %}" alt="Card image cap">
          <div class="card-block">
              <a id="portfolio-link" href="http://goldenleafinn.com/" target="blank"> <h4 class="card-title card-responsive">Golden Leaf Inn</h4></a>
 	     <p class="card-text">
                <a class="card-text" data-toggle="collapse" href="#collapseGolden" aria-expanded="false" aria-controls="collapseExample">
                Website Customizations & SEO
                </a>
            </p>
            <div class="collapse" id="collapseGolden">
                <div class="card card-block">
                    Implemented SEO best practices on each page using SEO Yoast, tracked relevant keywords, and wrote monthly reports using metrics from Google Analytics.
                 </div>
		<div class="card card-block">
		Add photos to pages that were text only, added links and helped implement new booking system.
                 </div>
		<img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/golden_page.png' %}" alt="Card image cap">
            </div>
          </div>
        </div>
      </div>

       <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/sm.png' %}" alt="Card image cap">
          <div class="card-block">
              <a id="portfolio-link" href="http://sadhakamovement.com/" target="blank"> <h4 class="card-title card-responsive">Sadhaka Movement</h4></a>
              <p class="card-text">
                <a class="card-text" data-toggle="collapse" href="#collapsesdm" aria-expanded="false" aria-controls="collapseExample">
                Website Customizations
                </a>
            </p>
            <div class="collapse" id="collapsesdm">
                <div class="card card-block">
                Updated font, logos, images and content on multiple pages. Rearranged layout of each page to look more appealing to customers.
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/packing_label.jpg' %}" alt="Card image cap">
          <div class="card-block">
              <a id="portfolio-link" href="http://www.heatherschoice.com/" target="blank"> <h4 class="card-title card-responsive">Heather's Choice</h4></a>
	      <p class="card-text">
                <a class="card-text" data-toggle="collapse" href="#collapseheathers" aria-expanded="false" aria-controls="collapseExample">
                Graphic Design
                </a>
            </p>
            <div class="collapse" id="collapseheathers">
                <div class="card card-block">
		Made 14 traces of National Geographic maps and then turned those into package lables for Heather's Choice outdoor breakfast, lunch, and dinner meals.
                </div>
		<div class="card card-block">
		Here is the trace.
                </div>
		<img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/bowknot_bend_trace.jpg' %}" alt="Card image cap">
		<div class="card card-block">
                Here is the corresponding packaging label front and back side.
                </div>
		<img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/Dinners-05.png' %}" alt="Card image cap">
		<br>
		 <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/Dinners-06.png' %}" alt="Card image cap">
            </div>
          </div>
        </div>
      </div>
    </div> <!--end row -->

	 <!-- fifth row -->
     <div id="portfolio4" class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/strive.png' %}" alt="Card image cap">
          <div class="card-block">
              <a id="portfolio-link" href="https://www.striveit.com/" target="blank"> <h4 class="card-title card-responsive">Strive IT</h4></a>
             <p class="card-text">
                <a class="card-text" data-toggle="collapse" href="#collapseStriveIT" aria-expanded="false" aria-controls="collapseExample">
               Website Development, Social Media, SEO
                </a>
            </p>
            <div class="collapse" id="collapseStriveIT">
                <div class="card card-block">
                    Posted 3 times a week on Facebook, Instagram, and Google+. Implemented SEO best practices on each page, tracked relevant keywords, and wrote monthly reports using metrics from Google Analytics.
                 </div>
                <div class="card card-block">
                Updated photos on slider to look more professional, updated colors and layout of website for a better user experience.
                 </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/coach.png' %}" alt="">
          <div class="card-block">
	    <a id="portfolio-link" href="https://coachmetrix.com/" target="blank"> <h4 class="card-title card-responsive">CoachMetrix</h4></a>
              <p class="card-text">
                <a class="card-text" data-toggle="collapse" href="#collapsecoach" aria-expanded="false" aria-controls="collapseExample">
                Website Development, SEO, Email Marketing Campaigns
                </a>
            </p>
            <div class="collapse" id="collapsecoach">
                <div class="card card-block">
                    Updated website as needed, added blogs.
                 </div>
                <!--<img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/bvd-teens.png' %}" alt="Card image cap">-->
                <div class="card card-block">
                     Implemented SEO best practices and tracked relevant keywords. Posted content 3 times a week on Google+.
                 </div>
            </div>
          </div>
        </div>
      </div>
     <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/bvd.png' %}" alt="">
          <div class="card-block">
              <a id="portfolio-link" href="http://www.bouldervalleydental.com/" target="blank"> <h4 class="card-title card-responsive">Boulder Valley Dental</h4></a>
              <p class="card-text">
                <a class="card-text" data-toggle="collapse" href="#collapsebvd" aria-expanded="false" aria-controls="collapseExample">
                Adwords, Social Media, SEO, Website Development
                </a>
            </p>
            <div class="collapse" id="collapsebvd">
                <div class="card card-block">
                    Created Sleep Apena, Tour our office, and Sedation dentistry pages. Updated website as needed, added new members, created promotions.
                 </div>
                <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/bvd-teens.png' %}" alt="Card image cap">
                <div class="card card-block">
                     Implemented SEO best practices and tracked relevant keywords. Posted content 3 times a week on Google+.
                 </div>
                <div class="card card-block">
                    Created, launched, monitored and updated AdWords campaign.
                 </div>
                <img class="card-img-top img-fluid" src="{% static 'mythings/mysite/img/bvd-ads.png' %}" alt="Card image cap">
            </div>
          </div>
        </div>
      </div>	
    </div> <!--end row -->

    <!--  Testimonials Section  -->
     <div class="row">
          <div class="col-xs-12">
            <div id="testimonial-header" class="text-xs-center">Testimonies<div>
          </div>
      </div>

    <div id="testimonialCarousel" class="carousel slide" data-ride="carousel">
<!-- Small dots to indicate number of slides and current slide -->

  <!-- Carousel Contents -->
  <div class="carousel-inner" role="listbox">

    <div class="carousel-item active"> <!-- class .active to denote the currently active slide-->
      <blockquote class="text-xs-center">
          <p>Michelle is a diligent student and a great person. Highly recommended for organizations looking for a go-getter with personality.</p>
          <span class="author text-uppercase">Kai R. Larsen</span>
          <span class="job">Professor at University of Colorado</span>
      </blockquote>
    </div>

    <div class="carousel-item">
      <blockquote class="text-xs-center">
          <p>As a developer, Michelle blends artistic awareness with technical skills. As we work at the same level on our team, she has provides insight and feedback in a supportive, open-minded way that makes her one of the best teammates I have worked with. She is also committed to her own learning and improving her already impressive skillset constantly.</p>
          <span class="text-uppercase">Khaled Allen</span>
          <span class="job">Front-End Web Developer</span>
      </blockquote>
    </div>

    <div class="carousel-item">
      <blockquote class="text-xs-center">
          <p>I have known Michelle for over 7 years and have had the pleasure of spending time with her as a leader in the University of Colorado’s Anti-Trafficking group, and as a fund raising advocate and Board member for my own non-profit organization, The Mercy Project Colorado.She offers a very strong background in the technical skills needed to help a non-profit compete and gain traction in emerging markets.</p>
          <span class="author text-uppercase">John Buechner</span>
          <span class="job">Executive Director</span>
      </blockquote>
    </div>

     <div class="carousel-item">
      <blockquote class="text-xs-center">
          <p>It has been an absolutely joy working with Michelle! From the very beginning I have been able to trust her to execute every project with an attention to detail and quality. Michelle is able to offer a variety of front end development and digital marketing services, from WordPress customizations to search engine optimization. Plus, she is an absolute sweetheart to work with! I would highly recommend working with Michelle if given the opportunity!</p>
          <span class="author text-uppercase">Kayleen Cohen</span>
          <span class="job">Founder</span>
      </blockquote>
    </div>

    <div class="carousel-item">
      <blockquote class="text-xs-center">
          <p>I LOVE THIS!!!!!!GREAT GREAT JOB MICHELLE! Great looking, easy to navigate and so nice to have such easy access to the videos!!!</p>
          <span class="author text-uppercase">Sally Strong</span>
          <span class="job">Client</span>
      </blockquote>
    </div>

  </div>
  <!-- Left Slide Button -->
      <a class="left carousel-control" href="#testimonialCarousel" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <!-- Right Slide Button -->
      <a class="right carousel-control" href="#testimonialCarousel" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

  </div> <!-- ./carousel -->

	<!--  End Testimonials Section  -->

 {% endblock %}
